body {
    padding: 0;
}

.bcgrd_image {
    background-image: url('../image/popcorn.jpg');
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #171314;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin-right: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 10%;
    width: 80%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-left: 10%;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #ccc; 
}

.w80 {
    width: 80%;
}

table tbody tr td a {
    text-decoration: none;
}

table tbody tr td a:hover {
    color: rgb(165, 56, 56);
}